<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algonquincollege.final_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NutritionSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NutritionListview_item" />
        <activity android:name=".NutritionFavouriteList" />
        <activity android:name=".NutritionDetail" />
        <activity
            android:name=".NutritionAuthor"
            android:label="Author"
            android:parentActivityName=".NutritionSearchActivity" />
        <activity
            android:name=".NutritionVersion"
            android:label="Version"
            android:parentActivityName=".NutritionSearchActivity" />
        <activity
            android:name=".NutritionInstruction"
            android:label="Instruction"
            android:parentActivityName=".NutritionSearchActivity" />
        <activity android:name=".NutritionDetailFrag" />
        <activity android:name=".NutritionFragment"></activity>
    </application>

</manifest>